fastapi
uvicorn[standard]
websockets
pandas
numpy
joblib
psycopg2-binary
python-multipart
python-dotenv
scipy
python-jose[cryptography]
bcrypt
apscheduler
pydantic
requests
scikit-learn==1.6.1
pytest
httpx